{% extends "base.html" %}
{% load static %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<header>
  <div class="logo-contenedor">
    <img src="{% static 'img/icono-fragata.jpg' %}" alt="Icono Fragata" class="logo-img" />
    <span class="nombre-logo">La Fragata Giratoria</span>
  </div>

  <nav>
    <a href="/">Menú</a>
    <a href="/">Inicio</a>
    <a href="{% url 'login' %}">Iniciar Sesión</a>
    <a href="{% url 'registro' %}">Registrarse</a>
    <a href="#">Contáctanos</a>
  </nav>
</header>

<main class="contenido">
  <form class="formulario tarjeta" method="post">
    {% csrf_token %}
    <h2>Iniciar Sesión</h2>

    {% if form.errors %}
      <div class="mensaje-error">
        Credenciales incorrectas o campos vacíos.
      </div>
    {% endif %}

    <div class="input-con-icono">
      <i class="fa fa-user"></i>
      <input type="text" name="username" placeholder="Ingrese su usuario" required autofocus />
    </div>

    <div class="input-con-icono">
      <i class="fa fa-lock"></i>
      <input type="password" name="password" placeholder="Contraseña" required />
    </div>

    <button type="submit" class="ingresar">Ingresar</button>

    <p class="enlace registro">
      <span class="texto-normal">¿No tienes una cuenta?</span>
      <a href="{% url 'registro' %}">Regístrate</a>
    </p>
  </form>
</main>

{% endblock %}